R - [reshape2](https://www.rdocumentation.org/packages/reshape2/versions/1.4.3)
v1.4.3

melt ---数据重新整合

cast ---基于melt的数据聚合运算，比如求每个分组的均值

In [1]:
library(reshape2)

# example data frame
x = data.frame(
  id   = c(1, 1, 2, 2),
  blue = c(1, 0, 1, 0),
  red  = c(0, 1, 0, 1)
)

# collapse the data frame
melt(data = x, id.vars = "id", measure.vars = c("blue", "red"))

Warning message:
"package 'reshape2' was built under R version 3.4.3"

  id variable value
1 1  blue     1
2 1  blue     0
3 2  blue     1
4 2  blue     0
5 1  red      0
6 1  red      1
7 2  red      0
8 2  red      1

In [2]:
# NOT RUN {
#Air quality example
names(airquality) <- tolower(names(airquality))
head(airquality)

  ozone solar.r wind temp month day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [3]:
aqm <- melt(airquality, id=c("month", "day"), na.rm=TRUE)
head(aqm,30)

   month day variable value
1  5      1  ozone     41
2  5      2  ozone     36
3  5      3  ozone     12
4  5      4  ozone     18
6  5      6  ozone     28
7  5      7  ozone     23
8  5      8  ozone     19
9  5      9  ozone      8
11 5     11  ozone      7
12 5     12  ozone     16
13 5     13  ozone     11
14 5     14  ozone     14
15 5     15  ozone     18
16 5     16  ozone     14
17 5     17  ozone     34
18 5     18  ozone      6
19 5     19  ozone     30
20 5     20  ozone     11
21 5     21  ozone      1
22 5     22  ozone     11
23 5     23  ozone      4
24 5     24  ozone     32
28 5     28  ozone     23
29 5     29  ozone     45
30 5     30  ozone    115
31 5     31  ozone     37
38 6      7  ozone     29
40 6      9  ozone     71
41 6     10  ozone     39
44 6     13  ozone     23

In [4]:
acast(aqm, month ~ variable, mean) #month为分组对象，计算每个组的均值

  ozone    solar.r  wind      temp
5 23.61538 181.2963 11.622581 65.54839
6 29.44444 190.1667 10.266667 79.10000
7 59.11538 216.4839  8.941935 83.90323
8 59.96154 171.8571  8.793548 83.96774
9 31.44828 167.4333 10.180000 76.90000