###  Question 
The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv

and load the data into R. The code book, describing the variable names is here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf

Apply strsplit() to split all the names of the data frame on the characters "wgtp". What is the value of the 123 element of the resulting list?

In [111]:
library("tidyverse")

In [112]:
data1<-  read_csv("F:/learningr/coursera_Getting and Cleaning Data/data/Fss06hid.csv")

Parsed with column specification:
cols(
  .default = col_character(),
  SERIALNO = col_integer(),
  DIVISION = col_integer(),
  REGION = col_integer(),
  ST = col_integer(),
  ADJUST = col_integer(),
  TYPE = col_integer(),
  ACR = col_integer(),
  AGS = col_integer(),
  BDS = col_integer(),
  BUS = col_integer(),
  HFL = col_integer(),
  KIT = col_integer(),
  MRGI = col_integer(),
  MRGT = col_integer(),
  MRGX = col_integer(),
  PLM = col_integer(),
  RMS = col_integer(),
  RNTM = col_integer(),
  TEL = col_integer(),
  TEN = col_integer()
  # ... with 61 more columns
)
See spec(...) for full column specifications.

In [113]:
names(data1)

  [1] "RT"       "SERIALNO" "DIVISION" "PUMA"     "REGION"   "ST"
  [7] "ADJUST"   "WGTP"     "NP"       "TYPE"     "ACR"      "AGS"
 [13] "BDS"      "BLD"      "BUS"      "CONP"     "ELEP"     "FS"
 [19] "FULP"     "GASP"     "HFL"      "INSP"     "KIT"      "MHP"
 [25] "MRGI"     "MRGP"     "MRGT"     "MRGX"     "PLM"      "RMS"
 [31] "RNTM"     "RNTP"     "SMP"      "TEL"      "TEN"      "VACS"
 [37] "VAL"      "VEH"      "WATP"     "YBL"      "FES"      "FINCP"
 [43] "FPARC"    "GRNTP"    "GRPIP"    "HHL"      "HHT"      "HINCP"
 [49] "HUGCL"    "HUPAC"    "HUPAOC"   "HUPARC"   "LNGI"     "MV"
 [55] "NOC"      "NPF"      "NPP"      "NR"       "NRC"      "OCPIP"
 [61] "PARTNER"  "PSF"      "R18"      "R60"      "R65"      "RESMODE"
 [67] "SMOCP"    "SMX"      "SRNT"     "SVAL"     "TAXP"     "WIF"
 [73] "WKEXREL"  "WORKSTAT" "FACRP"    "FAGSP"    "FBDSP"    "FBLDP"
 [79] "FBUSP"    "FCONP"    "FELEP"    "FFSP"     "FFULP"    "FGASP"
 [85] "FHFLP"    "FINSP"    "FKITP"    "FMHP"     "FMRGIP"   "FMRGP"
 [91] "FMRGTP"   "FMRGXP"   "FMVYP"    "FPLMP"    "FRMSP"    "FRNTMP"
 [97] "FRNTP"    "FSMP"     "FSMXHP"   "FSMXSP"   "FTAXP"    "FTELP"
[103] "FTENP"    "FVACSP"   "FVALP"    "FVEHP"    "FWATP"    "FYBLP"
[109] "wgtp1"    "wgtp2"    "wgtp3"    "wgtp4"    "wgtp5"    "wgtp6"
[115] "wgtp7"    "wgtp8"    "wgtp9"    "wgtp10"   "wgtp11"   "wgtp12"
[121] "wgtp13"   "wgtp14"   "wgtp15"   "wgtp16"   "wgtp17"   "wgtp18"
[127] "wgtp19"   "wgtp20"   "wgtp21"   "wgtp22"   "wgtp23"   "wgtp24"
[133] "wgtp25"   "wgtp26"   "wgtp27"   "wgtp28"   "wgtp29"   "wgtp30"
[139] "wgtp31"   "wgtp32"   "wgtp33"   "wgtp34"   "wgtp35"   "wgtp36"
[145] "wgtp37"   "wgtp38"   "wgtp39"   "wgtp40"   "wgtp41"   "wgtp42"
[151] "wgtp43"   "wgtp44"   "wgtp45"   "wgtp46"   "wgtp47"   "wgtp48"
[157] "wgtp49"   "wgtp50"   "wgtp51"   "wgtp52"   "wgtp53"   "wgtp54"
[163] "wgtp55"   "wgtp56"   "wgtp57"   "wgtp58"   "wgtp59"   "wgtp60"
[169] "wgtp61"   "wgtp62"   "wgtp63"   "wgtp64"   "wgtp65"   "wgtp66"
[175] "wgtp67"   "wgtp68"   "wgtp69"   "wgtp70"   "wgtp71"   "wgtp72"
[181] "wgtp73"   "wgtp74"   "wgtp75"   "wgtp76"   "wgtp77"   "wgtp78"
[187] "wgtp79"   "wgtp80"

In [114]:
strsplit(names(data1), "wgtp")[123]

[[1]]
[1] ""   "15"

### Question 
Load the Gross Domestic Product data for the 190 ranked countries in this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv

Remove the commas from the GDP numbers in millions of dollars and average them. What is the average?

Original data sources:

http://data.worldbank.org/data-catalog/GDP-ranking-table

In [115]:
GDPdata <- read_csv("F:/learningr/coursera_Getting and Cleaning Data/data/GDP.csv",
                    skip = 5,
                   col_names = FALSE)

Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_integer(),
  X3 = col_character(),
  X4 = col_character(),
  X5 = col_character(),
  X6 = col_character()
)

In [116]:
commas <- function(str)  gsub(pattern = ",|\\s" ,"", str)
tidyData <- GDPdata[, c("X1","X2","X4","X5")] %>% drop_na("X5")
tidyData["X5"] <- sapply(tidyData["X5"],commas)

In [117]:
# # x[which(x$var>2)),]
# Data <- tidyData$X5[which(nchar(tidyData$X5) >3)]
# Data <- mean(as.numeric(Data))

In [118]:
data2<- tidyData[!grepl("\\.",tidyData$X5), ]

In [119]:
data2$X5 <- as.numeric(data$X5)
data2

    X1  X2  X4                             X5
1   USA  1  United States                  16244600
2   CHN  2  China                           8227103
3   JPN  3  Japan                           5959718
4   DEU  4  Germany                         3428131
5   FRA  5  France                          2612878
6   GBR  6  United Kingdom                  2471784
7   BRA  7  Brazil                          2252664
8   RUS  8  Russian Federation              2014775
9   ITA  9  Italy                           2014670
10  IND 10  India                           1841710
11  CAN 11  Canada                          1821424
12  AUS 12  Australia                       1532408
13  ESP 13  Spain                           1322965
14  MEX 14  Mexico                          1178126
15  KOR 15  Korea, Rep.                     1129598
16  IDN 16  Indonesia                        878043
17  TUR 17  Turkey                           789257
18  NLD 18  Netherlands                      770555
19  SAU 19  Saudi Arabia                     711050
20  CHE 20  Switzerland                      631173
21  SWE 21  Sweden                           523806
22  IRN 22  Iran, Islamic Rep.               514060
23  NOR 23  Norway                           499667
24  POL 24  Poland                           489795
25  BEL 25  Belgium                          483262
26  ARG 26  Argentina                        475502
27  AUT 27  Austria                          394708
28  ZAF 28  South Africa                     384313
29  VEN 29  Venezuela, RB                    381286
30  COL 30  Colombia                         369606
... ... ... ...                            ...
175 GMB 175 Gambia, The                         917
176 GNB 176 Guinea-Bissau                       822
177 VUT 177 Vanuatu                             787
178 GRD 178 Grenada                             767
179 KNA 178 St. Kitts and Nevis                 767
180 VCT 180 St. Vincent and the Grenadines      713
181 WSM 181 Samoa                               684
182 COM 182 Comoros                             596
183 DMA 183 Dominica                            480
184 TON 184 Tonga                               472
185 FSM 185 Micronesia, Fed. Sts.               326
186 STP 186 S<e3>o Tom?and Principe             263
187 PLW 187 Palau                               228
188 MHL 188 Marshall Islands                    182
189 KIR 189 Kiribati                            175
190 TUV 190 Tuvalu                               40
191 WLD  NA World                          72440449
192 LIC  NA Low income                       504431
193 MIC  NA Middle income                  22249909
194 LMC  NA Lower middle income             4823811
195 UMC  NA Upper middle income            17426690
196 LMY  NA Low & middle income            22769282
197 EAP  NA East Asia & Pacific            10329684
198 ECA  NA Europe & Central Asia           1887950
199 LAC  NA Latin America & Caribbean       5344028
200 MNA  NA Middle East & North Africa      1540807
201 SAS  NA South Asia                      2286093
202 SSA  NA Sub-Saharan Africa              1289813
203 HIC  NA High income                    49717634
204 EMU  NA Euro area                      12192344

In [120]:
sum(data2['X5'])/nrow(GDPdata )
summary(data2)

[1] 1289378

      X1                  X2              X4                  X5
 Length:204         Min.   :  1.00   Length:204         Min.   :      40
 Class :character   1st Qu.: 48.25   Class :character   1st Qu.:    7772
 Mode  :character   Median : 95.50   Mode  :character   Median :   36871
                    Mean   : 95.49                      Mean   : 1453710
                    3rd Qu.:142.75                      3rd Qu.:  262939
                    Max.   :190.00                      Max.   :72440449
                    NA's   :14

In [121]:
# for the 190 ranked countries in this data set
data2 <- data2[!is.na(data2$X2),]
summary(data2)

      X1                  X2              X4                  X5
 Length:190         Min.   :  1.00   Length:190         Min.   :      40
 Class :character   1st Qu.: 48.25   Class :character   1st Qu.:    7005
 Mode  :character   Median : 95.50   Mode  :character   Median :   27638
                    Mean   : 95.49                      Mean   :  377652
                    3rd Qu.:142.75                      3rd Qu.:  205289
                    Max.   :190.00                      Max.   :16244600

###  Question
In the data set from Question 2 what is a regular expression that would allow you to count the number of countries whose name begins with "United"? Assume that the variable with the country names in it is named countryNames. How many countries begin with United?

In [122]:
grep("^United", GDPdata$X4)

[1]  1  6 32

### Question
Load the Gross Domestic Product data for the 190 ranked countries in this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv

Load the educational data from this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv

Match the data based on the country shortcode. Of the countries for which the end of the fiscal year is available, how many end in June?

Original data sources:

http://data.worldbank.org/data-catalog/GDP-ranking-table

http://data.worldbank.org/data-catalog/ed-stats

In [123]:
#Match the data based on the country shortcode
data4<-  read_csv("F:/learningr/coursera_Getting and Cleaning Data/data/EDSTATS_Country.csv")[,c("CountryCode", "Special Notes")]
head(data4)
# data4[!is.na(data4['Special Notes'])]

Parsed with column specification:
cols(
  .default = col_character(),
  `National accounts reference year` = col_integer(),
  `System of National Accounts` = col_integer(),
  `PPP survey year` = col_integer(),
  `Latest industrial data` = col_integer(),
  `Latest trade data` = col_integer(),
  `Latest water withdrawal data` = col_integer()
)
See spec(...) for full column specifications.

  CountryCode
1 ABW
2 ADO
3 AFG
4 AGO
5 ALB
6 ARE
  Special Notes
1 NA
2 NA
3 Fiscal year end: March 20; reporting period for national accounts data: FY.
4 NA
5 NA
6 NA

In [124]:
data4 <- na.omit(data4)
head(data4,6)

  CountryCode
1 AFG
2 ATG
3 AUS
4 AUT
5 BEL
6 BGD
  Special Notes
1 Fiscal year end: March 20; reporting period for national accounts data: FY.
2 The government has revised national accounts data for 1998-2008.
3 Fiscal year end: June 30; reporting period for national accounts data: FY.
4 A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 13.7603 Austrian schilling. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.
5 A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 40.3399 Belgian franc. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.
6 Fiscal year end: June 30; reporting period for national accounts data: FY.

In [125]:
# x[(x$var1<=3&X$var3>11), ]
data4 <- data4[c(grep('^Fiscal year end: June',data4[[2]])),]
head(data4,5)

  CountryCode
1 AUS
2 BGD
3 BWA
4 EGY
5 GMB
  Special Notes
1 Fiscal year end: June 30; reporting period for national accounts data: FY.
2 Fiscal year end: June 30; reporting period for national accounts data: FY.
3 Fiscal year end: June 30; reporting period for national accounts data: FY.
4 Fiscal year end: June 30; reporting period for national accounts data: FY.
5 Fiscal year end: June 30; reporting period for national accounts data: CY.

In [126]:
nrow(data4)

[1] 13

In [127]:
#CountryCode190
# c(2,4,5) %in% c(2,4,6,2)
nrow(data4[c(data4[[1]]%in% data2[[1]]),])

[1] 13

### Question 5
You can use the quantmod (http://www.quantmod.com/) package to get historical stock prices for publicly traded companies on the NASDAQ and NYSE. Use the following code to download data on Amazon's stock price and get the times the data was sampled.
```{r}
library(quantmod)
amzn = getSymbols("AMZN",auto.assign=FALSE)
sampleTimes = index(amzn)
```
How many values were collected in 2012? How many values were collected on Mondays in 2012?

In [128]:
library(quantmod)
amzn = getSymbols("AMZN",auto.assign=FALSE)
sampleTimes = index(amzn)

In [129]:
tail(amzn,4)

           AMZN.Open AMZN.High AMZN.Low AMZN.Close AMZN.Volume AMZN.Adjusted
2018-05-31   1623.00   1635.00  1621.35    1629.62     3166300       1629.62
2018-06-01   1637.03   1646.73  1635.09    1641.54     3290100       1641.54
2018-06-04   1648.90   1665.68  1645.49    1665.27     3167900       1665.27
2018-06-05   1672.99   1699.00  1670.06    1696.35     4719000       1696.35

In [130]:
head(sampleTimes)

[1] "2007-01-03" "2007-01-04" "2007-01-05" "2007-01-08" "2007-01-09"
[6] "2007-01-10"

In [131]:
# How many values were collected in 2012? How many values were collected on Mondays in 2012?
library("lubridate")
sum(sapply(sampleTimes,year)==2012)

[1] 250

In [132]:
data5 <- sampleTimes[c(sapply(sampleTimes,year)==2012)] 
sum(sapply(data5, weekdays)=="")

[1] 47